* {
    font-family: 'Press Start 2P', cursive;
}

.header1 {
    height: 110px;
    background: #1e5f74;
}

#img1 {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 110px;
    width: 110px;
    line-height: 200px;
}

#logo {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    height: 110px;
    line-height: 110px;
}

.nav1 {
    background: #107E74;
    height: 25px;
}


#a2 {
    background: #3B4244;
}


section {
    background: #38373E;
}

#Tablero {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    text-align: center;
    background: #2b3595;
    border-radius: 80px;
}

section div h1{
    padding: 15px;
    text-align: center;
    font-size:40px;
    color: white;
    background: black;
    border-radius:5px;
}

#turno{
    text-align: left;
    margin-left: 7px;
    font-size:20px;
}

#espera {
    text-align: left;
    margin-left: 7px;
    font-size: 20px;
}

.jugador {
    text-align: center;
    font-size: 25px;
    color: greenyellow;
}

.jugador2 {
    text-align: center;
    font-size: 25px;
    color: red;
}

.sadimg{
    height:200px;
    width:200px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.tiroinvalido {
    margin-top: 30px;
    color: white;
    font-size: 16px;
}

[class*="btn"] {
    height: 100px;
    border: none;
}

.btn1 {
    background: #69779b;
}

.btn2 {
    background: #9692af;
}

.Succ {
    color: greenyellow;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
}

.botones {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    background: #fcdab7;
    color: black;
    font-weight: bold;
    border: none;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

#relleno{
    border-top:solid;
    border-bottom: solid;
    height:350px;
}

.movimientos{
    margin-bottom:10px;
    text-align: left;
}

#down {
    text-align: center;
    background: #3C546A;
    padding-bottom: 25px;
}

footer {
    background: #107E74;
}

#m1 {
    text-align: center;
    line-height: 50px;
    height: 50px;
}
